.about-1
  padding-top: vw(45)
  padding-bottom: vw(190)
  +xs-block
    padding-top: vw-xs(10)
  &__left
    +col
    +size(4)
    +size-xs(8)
    padding-right: vw(170)
    +xs-block
      padding-right: vw-xs(15)
    p
      margin-bottom: vw(25)
      +xs-block
        margin-bottom: vw-xs(5)
      &:last-child
        margin-bottom: 0
  &__right
    +col
    +size(3)
    +size-xl(4)
    +xs-block
      display: none
    img
      +md-block
        width: 100%