.last-news
  &__item
    +col
    +size(2)
    +size-xs(8)
    display: flex
    flex-direction: column
    +xs-block
      margin-bottom: vw-xs(30)
  &__img-wrap
    margin-bottom: vw(25)
    +xs-block
      margin-bottom: vw-xs(20)
  &__publish
    display: block
    margin-bottom: vw(20)
    +xs-block
      margin-bottom: vw-xs(5)
  &__body
    display: flex
    flex-direction: column
    flex-grow: 1
    p
      margin-top: auto
  &__title
    margin-bottom: vw(25)
    +fluid-type(16px, 40px)
    +xs-block
      margin-bottom: vw-xs(10)
  &__link
    align-self: flex-start
    +fluid-type(13px, 23px)